.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #f3b07c, #fcd283);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.weather_app {
  width: 35rem;
  height: 65rem;
  background-image: linear-gradient(to top, #f3b07c, #fcd283);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: -3rem 1rem 6rem rgba(0,0,0,.1);
  position: relative;
}

.search {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.search_top {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.search_top i {
  font-size: 2rem;
  color: #2f2e57;
}

.search_top div {
  font-size: 1.6rem;
  color: #484569;
  letter-spacing: .1rem;
}

.search_bar {
  position: relative;
}

.search_bar input {
  width: 25rem;
  height: 3.5rem;
  background-color: transparent;
  border: .2rem solid #676394;
  border-radius: 3rem;
  outline: none;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.6rem;
  color: #484569;
}

.search_bar input::placeholder {
  font-size: 1.4rem;
  color: #676394;
  letter-spacing: .1rem;
}

.search_bar input:focus::placeholder {
  color: transparent;
}

.search_bar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  font-size: 1.5rem;
  color: #2f2e57;
  cursor: pointer;
}

.loader {
  width: 5rem;
  margin-top: 10rem;
  object-fit: cover;
}

.not_found {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_found h4 {
  font-size: 1.5rem;
  color: #484569;
  text-shadow: -.3rem .5rem 1rem rgba(0,0,0,.2);
}

.not_found p {
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: .1rem;
  color: #484569;
  text-shadow: -.3rem .5rem 1rem rgba(0,0,0,.2);
}

.weather img {
  margin-top: -9rem;
}

.weather_type {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #484569;
}

.temp {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9rem;
  background-image: linear-gradient(to right, #2f2e57, #605d80);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.5rem, .5rem, 1rem rgba(0,0,0,.2);
}

.weather_date {
  position: absolute;
  bottom: 22%;
  font-size: 1.6rem;
  color: #484569;
}

.weather_data {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  column-gap: 2rem;
  padding: 0 2rem;
}

.weather_data > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  background-color: rgba(255, 255,255, 0.2);
  padding: 1rem;
  border-radius: 1rem;
}

.data_name {
  font-size: 1.6rem;
  color: #605d80;
}

.weather_data i {
  font-size: 2rem;
  color: #fff;
  text-shadow: -.3rem .3rem .5rem rgba(0,0,0,.1);
}

.data {
  font-size: 2rem;
  color: #2f2e57;
}