/* Google font link */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

/* General style properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
