/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}

html {
  font-size: 62.5%;
}